.contact-form {
    padding: 30px 12.5%;
    display: block;
    font-size: 1.3rem;
}

.contact-form h1 {
 font-size: 2rem;
}

.text-input {
    box-shadow: none;
    background-color:  var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    border-style: solid;
    border-color:  var(--secondary-color);
    color: var(--secondary-color);
    width: 400px;
    font-size: 1rem;
    border-radius: 10px;
    outline-width: 0;
    padding: 5px;
    border-width: medium;
}

.contact-form-mobile .text-input {
    width: 90%;
}