.intro h1 {
    font-size: 4.5rem;
    color: var(--secondary-color);;
    margin: 0px;
}

.intro {
    color: var(--secondary-color);;
    padding: 90px 12.5%;
    font-size: 1.3rem;
  }

.name {
    animation-name: dropNameFromTop;
    animation-duration: 2s;
    display: inline-block;
}

@keyframes dropNameFromTop {
    0% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(0);
    }
  }