.navbar {
  background-color: var(--tertiary-color);
  overflow: hidden;
  font-weight: 700;
}

.navbar a {
  float: left;
  display: block;
  color: var(--primary-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar a:hover {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
}

.burger-nav {
  text-align: left;
  padding: 10px;
}

.burger-nav a {
  float: left; 
  clear: left;
}