.navbar {
  background-color: #F39237;
  overflow: hidden;
  font-family: 'Permanent Marker', cursive;
}

.navbar a {
  float: left;
  display: block;
  color: #191923;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar a:hover {
  background-color: #BF1363;
  color: white;
}

.burger-nav {
  text-align: left;
  padding: 10px;
}

.burger-nav a {
  float: left; 
  clear: left;
}