.card-item {
    margin: 10px;
    padding: 20px 20px 40px 20px;
    border-radius: 55px;
    background-color: #191923;
    color: white;
    position: relative;
}

.card-links {
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
}

.card-link-icon:hover {
    fill: #BF1363;
}