/* https://coolors.co/fbfef9-191923-0e79b2-bf1363-f39237 */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #191923;
    color: white;
    text-align: center;
}

.intro h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    color: #F39237;
}

.intro {
    color: #FBFEF9;
    padding: 80px 12.5%;
  }

.cards-section {
    padding: 30px 0;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    
}

.card-item {
    color: white;
    margin: 10px;
    padding: 25px;
    border-radius: 55px;
    background-color: #191923;
    position: relative;
}

.card-links {
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
}

.card-link-icon {
    fill: white;
    color: white;
    width: 40px;
}

.card-link-icon:hover {
    fill: #BF1363;
}

.contact-form {
    padding: 80px 12.5%;
    display: block;
    width: 75%;
}

.text-input {
    box-shadow: none;
    background-color:  #191923;
    font-family: 'Open Sans', sans-serif;
    border-style: solid;
    border-color:  #F39237;
    color: white;
    width: 300px;
}