/* https://coolors.co/fbfef9-191923-0e79b2-bf1363-f39237 */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.intro h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    color: #F39237;
}

.intro {
    text-align: center;
    background-color: #191923;
    color: #FBFEF9;
    padding: 80px 12.5%;
    /* Grid styles */
    /* display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
  }

.cards-section {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.card-item {
    text-align: center;
    margin: 10px;
    padding: 15px;
    border-radius: 25px;
    background-color: #191923;
    color: white;
}