/* https://coolors.co/fbfef9-191923-0e79b2-bf1363-f39237 */

:root {
    --primary-color: #293241;
    --secondary-color: white;
    --tertiary-color: #ee6c4d;
    --quaternary-color: #ee6c4d;
    --primary-pad: 20px;
    --main-font: 'Poppins', sans-serif;;
  }

body {
    margin: 0;
    font-family: var(--main-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
}